---
title: Category
description: Blog Category 
layout: default
---

<section class="hero">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<!-- archive -->
		<div class="pad">
		{% for category in site.categories %}
		  <div class="archive-group">
			{% capture category_name %}{{ category | first }}{% endcapture %}
			<div id="#{{ category_name | slugize }}"></div>
			<p></p>
			
			<h3 class="category-head">{{ category_name | capitalize }}</h3>
			<a name="{{ category_name | slugize }}"></a>
			{% for post in site.categories[category_name] %}
			<article class="archive-item">
			  <h4><a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a></h4>
			</article>
			{% endfor %}
		  </div>
		{% endfor %}
		<a href="#github"></a>
		{% for post in site.categories.github %}
		 <li><span>{{ post.date | date_to_string }}</span> &nbsp; <a href="{{ post.url }}">{{ post.title }}</a></li>
		{% endfor %}
		
		<a href="#tools"></a>
		{% for post in site.categories.tools %}
		 <li><span>{{ post.date | date_to_string }}</span> &nbsp; <a href="{{ post.url }}">{{ post.title }}</a></li>
		{% endfor %}
		
		
		<p class="change-category">You're currently looking at advice categorised under <strong>{{ page.title }}</strong>. <a href="{{ site.baseurl }}/blog/">View all posts</a> instead.</p>

		<ul class="blog-posts">
			{% include list-posts.html posts=page.posts %}
		</ul>
		
		
		</div>
	</div>
	<!--<div class="learn-more"><a href="#learn-more">Learn more <span class="arrow">&#x25BC;</span></a></div> -->
</section>
