---
title: Category
description: Send us a message to find out more!
image: http://om6vqg6il.bkt.clouddn.com/logo.png
---
<!--
<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">Get in touch today</h1>
			<p class="subtext editable">If you have any questions or queries send us a message and we'll get back to you as soon as we can.</p>
		</div>
	</div>
</section>

-->
<section class="pad">
	<div class="container">
	{% for category in site.categories %}
	  <div class="archive-group">
		{% capture category_name %}{{ category | first }}{% endcapture %}
		<div id="#{{ category_name | slugize }}"></div>
		<p></p>
		
		<h3 class="category-head">{{ category_name }}</h3>
		<a name="{{ category_name | slugize }}"></a>
		{% for post in site.categories[category_name] %}
		<article class="archive-item">
		  <h4><a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a></h4>
		</article>
		{% endfor %}
	  </div>
	{% endfor %}
</div>
</section>

